/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
}

#score, #level {
    font-size: 20px;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    gap: 5px;
}

.grid-item {
    width: 50px;
    height: 50px;
    background-color: #b0c4de;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.grid-item:hover {
    background-color: #add8e6;
}

.hidden {
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 10%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}


.popup-content video {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
}

#next-level-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#next-level-btn:hover {
    background-color: #45a049;
}
